* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", sans-serif;


  line-height: 1;
  font-weight: 500;
  font-size: 2rem;
}

.main {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  /* justify-content: space-around; */
}

/* LEFT SIDE */

.card,
.form {
  padding: 6rem
}

.card {
  color: #fff;
  background-color: #1c1c1c;
  /* padding: 6rem; */
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 6.8rem;
}

.card h3 {
  font-size: 2.8rem;
  /* padding-bottom: 5rem; */
}

.card__info h2 {
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
  padding-bottom: 4rem;
}

.card__info--sales {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-bottom: 6.8rem;
  padding-left: 2rem;
}

.card__info--sales span {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  align-self: center;
}

.card__info--sales-edit {
  display: flex;
  gap: 1.6rem;
}

.card__info--sales-edit--img {
  height: 2rem;
  width: 2rem;
}

.card__trusted p {
  color: #949494;
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 4rem;
}

.card__trusted--enterprises {
  display: flex;
  justify-content: space-around;
  /* max-width: 110rem; */
  color: #1c1c1c;
  /* gap: 10rem; */
  padding-bottom: 2rem;
}

.card__trusted--enterprises img {
  height: 1rem;
  width: 1rem;
}

.img-edit {
  height: auto;
  width: 10rem;
}

.card__trusted--star {
  display: flex;
  gap: 1rem;

  font-size: 1.6rem;
  color: #949494;
}

.card__trusted--star p {
  font-size: 1.6rem;
  line-height: 0.8;
  /* align-self: center; */
}




/* RIGHT SIDE */
.form {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding-left: 10rem;
  padding-top: 2rem;

  gap: 3rem;
}

.form__title h2 {
  font-size: 3.8rem;
  padding-bottom: 1.6rem;

}

.form__title p {
  font-size: 1.5rem;
  color: #949494;
}