* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", sans-serif;


  line-height: 1;
  font-weight: 500;
  font-size: 2rem;
}

.main {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  /* justify-content: space-around; */
}

/* LEFT SIDE */

.card {
  color: #fff;
  background-color: #1c1c1c;
  padding: 6rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 6.5rem;
}

.card h3 {
  font-size: 3.2rem;
  /* padding-bottom: 5rem; */
}

.card__info h2 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  padding-bottom: 4rem;
}

.card__info--sales {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-bottom: 3rem;
}

.card__info--sales span {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  align-self: center;
}

.card__info--sales-edit {
  display: flex;
  gap: 1.6rem;
}

.card__info--sales-edit--img {
  height: 3rem;
  width: 3rem;
}