* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* One way of center a div */
  /* max-width: 90rem;
  margin: 0 auto; */



  line-height: 1;
  font-weight: 500;
  font-size: 2rem;
}

.card {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card h3 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}

.card__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.card__form--sign {
  width: 100%;
  max-width: 48rem;
  text-align: center;
  gap: 2rem;
  border-bottom: 3px solid rgb(0, 0, 29, 0.07);
  margin-bottom: 4rem;
}

.card__form--sign h2 {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}



.card__form--sign-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  background: none;
  border: 1px solid rgb(0, 0, 29, 0.07);

}

.card__form--sign-btn img {
  width: 3rem;
  height: 3rem;
}

.card__form--sign-btn span {
  font-size: 2rem;
  font-weight: 550;
  display: flex;
  flex: 1;
  justify-content: center;
}

.card__form__sign-in {
  width: 100%;
  max-width: 48rem;
}

.card__form__sign-in form {
  display: flex;
  flex-direction: column;
}

.card__form__sign-in form label {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.card__form__sign-in form input {
  border: 1px solid rgb(0, 0, 29, 0.07);
  padding: 1.6rem 2.4rem;
  border-radius: 1.5rem;
}


.card__form__sign-in--btn {
  padding: 1.6rem 2.4rem;
  border-radius: 1.5rem;
  background: none;
  border: 1px solid rgb(0, 0, 29, 0.07);
  font-size: 2rem;
  font-weight: 550;
  color: #fff;
  background-color: hsla(240, 6%, 67%, 1)
}

.footer {
  color: hsla(240, 3%, 50%, 1);
}

.footer a {
  color: hsla(240, 3%, 20%, 1);
}